In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Code_co_quynh_anh

/content/drive/MyDrive/Code_co_quynh_anh

In [ ]:
!pwd

/content/drive/MyDrive/Code_co_quynh_anh

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import neighbors, datasets
import pandas as pd

In [ ]:
from sklearn import preprocessing
import pickle
from sklearn.metrics import confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

import tensorflow as tf
# import tensorflow_addons as tfa
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Dropout, Flatten, Conv1D, MaxPool1D
from tensorflow.keras.optimizers import Adam



from sklearn.metrics import average_precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import jaccard_score,hamming_loss
from sklearn.metrics import f1_score,recall_score,roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_curve, auc

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Code_co_quynh_anh/train_df.csv')
# data=pd.read_csv('preprocessed_train_data.csv')
print(data.shape)

(4867421, 28)

In [ ]:
data.head(10)

,crew,experiment,time,seat,eeg_fp1,eeg_f7,eeg_f8,eeg_t4,eeg_t6,eeg_t5,...,eeg_c4,eeg_p4,eeg_poz,eeg_c3,eeg_cz,eeg_o2,ecg,r,gsr,event
0,1,CA,0.01172,1,-5.285,26.78,-9.5200,-12.800,16.72,33.75,...,37.3800,17.44,19.20,20.60,-3.9510,14.51,-4520.0,817.5,388.8,A
1,1,CA,0.01563,1,-2.428,28.44,-9.3200,-3.758,15.97,30.44,...,31.1700,19.40,19.69,21.36,1.3320,17.75,-4520.0,817.5,388.8,A
2,1,CA,0.01953,1,10.670,30.42,15.3500,24.720,16.14,32.16,...,-12.0160,19.39,23.17,22.40,1.5380,22.25,-4520.0,817.5,388.8,A
3,1,CA,0.02344,1,11.450,25.61,2.4340,12.414,20.53,31.50,...,18.5800,23.16,22.64,19.34,2.5450,19.00,-4520.0,817.5,388.8,A
4,1,CA,0.02734,1,7.285,25.94,0.1136,5.746,19.83,28.75,...,6.5550,22.75,22.67,20.30,1.6990,22.81,-4520.0,817.5,388.8,A
5,1,CA,0.03125,1,6.066,23.12,8.6500,14.380,16.06,26.92,...,-9.2900,21.44,23.25,19.06,-0.7650,26.45,-4520.0,817.5,388.8,A
6,1,CA,0.03516,1,-1.376,20.97,3.7540,13.766,18.12,29.39,...,-0.6045,21.00,21.56,17.33,1.4650,21.30,-4520.0,817.5,388.8,A
7,1,CA,0.03906,1,1.548,18.39,-9.1100,-1.033,22.62,32.80,...,17.4800,22.90,23.19,18.47,0.2993,23.69,-4520.0,817.5,388.8,A
8,1,CA,0.04297,1,-7.790,12.21,-8.9500,1.092,28.53,35.28,...,16.6900,28.78,28.38,20.70,-6.6200,31.67,-4520.0,817.5,388.8,A
9,1,CA,0.04688,1,-11.180,18.23,-1.0350,4.750,25.98,30.50,...,0.4890,21.94,21.62,19.53,-5.1880,21.62,-4520.0,817.5,388.8,A

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
LE = LabelEncoder()
data['experiment'] = LE.fit_transform(data['experiment'])

In [ ]:
X = data.drop('event', axis=1)

In [ ]:
X.head(10)

,crew,experiment,time,seat,eeg_fp1,eeg_f7,eeg_f8,eeg_t4,eeg_t6,eeg_t5,...,eeg_f4,eeg_c4,eeg_p4,eeg_poz,eeg_c3,eeg_cz,eeg_o2,ecg,r,gsr
0,1,0,0.01172,1,-5.285,26.78,-9.5200,-12.800,16.72,33.75,...,3.090,37.3800,17.44,19.20,20.60,-3.9510,14.51,-4520.0,817.5,388.8
1,1,0,0.01563,1,-2.428,28.44,-9.3200,-3.758,15.97,30.44,...,7.100,31.1700,19.40,19.69,21.36,1.3320,17.75,-4520.0,817.5,388.8
2,1,0,0.01953,1,10.670,30.42,15.3500,24.720,16.14,32.16,...,12.700,-12.0160,19.39,23.17,22.40,1.5380,22.25,-4520.0,817.5,388.8
3,1,0,0.02344,1,11.450,25.61,2.4340,12.414,20.53,31.50,...,11.460,18.5800,23.16,22.64,19.34,2.5450,19.00,-4520.0,817.5,388.8
4,1,0,0.02734,1,7.285,25.94,0.1136,5.746,19.83,28.75,...,8.010,6.5550,22.75,22.67,20.30,1.6990,22.81,-4520.0,817.5,388.8
5,1,0,0.03125,1,6.066,23.12,8.6500,14.380,16.06,26.92,...,6.414,-9.2900,21.44,23.25,19.06,-0.7650,26.45,-4520.0,817.5,388.8
6,1,0,0.03516,1,-1.376,20.97,3.7540,13.766,18.12,29.39,...,3.227,-0.6045,21.00,21.56,17.33,1.4650,21.30,-4520.0,817.5,388.8
7,1,0,0.03906,1,1.548,18.39,-9.1100,-1.033,22.62,32.80,...,2.592,17.4800,22.90,23.19,18.47,0.2993,23.69,-4520.0,817.5,388.8
8,1,0,0.04297,1,-7.790,12.21,-8.9500,1.092,28.53,35.28,...,2.736,16.6900,28.78,28.38,20.70,-6.6200,31.67,-4520.0,817.5,388.8
9,1,0,0.04688,1,-11.180,18.23,-1.0350,4.750,25.98,30.50,...,1.578,0.4890,21.94,21.62,19.53,-5.1880,21.62,-4520.0,817.5,388.8

In [ ]:
y = data['event'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.2, random_state = 0)

In [ ]:
clf = neighbors.KNeighborsClassifier(n_neighbors = 1, p = 2)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test[0:200])

print("Print results for 20 test data points:")
print("Predicted labels: ", y_pred[0:200])
print("Ground truth    : ", y_test[0:200])

Print results for 20 test data points:
Predicted labels:  ['C' 'A' 'A' 'A' 'A' 'A' 'D' 'C' 'A' 'C' 'A' 'A' 'A' 'C' 'A' 'A' 'A' 'A'
 'A' 'A' 'A' 'C' 'C' 'A' 'A' 'C' 'C' 'C' 'A' 'C' 'A' 'C' 'A' 'C' 'D' 'C'
 'A' 'A' 'C' 'C' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'C' 'A' 'A' 'C' 'A' 'A'
 'A' 'A' 'C' 'A' 'A' 'C' 'A' 'C' 'C' 'A' 'A' 'C' 'A' 'A' 'C' 'C' 'A' 'C'
 'A' 'A' 'A' 'C' 'C' 'A' 'A' 'C' 'A' 'A' 'D' 'A' 'C' 'A' 'A' 'A' 'C' 'A'
 'A' 'A' 'C' 'D' 'A' 'A' 'A' 'C' 'A' 'B' 'C' 'C' 'A' 'A' 'A' 'C' 'A' 'A'
 'C' 'A' 'A' 'C' 'C' 'A' 'A' 'A' 'C' 'D' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'A'
 'A' 'A' 'B' 'A' 'A' 'C' 'A' 'A' 'A' 'C' 'C' 'C' 'A' 'C' 'A' 'A' 'C' 'A'
 'A' 'A' 'A' 'A' 'A' 'C' 'A' 'A' 'A' 'D' 'B' 'A' 'C' 'C' 'C' 'C' 'D' 'A'
 'A' 'A' 'A' 'C' 'A' 'A' 'A' 'C' 'C' 'D' 'B' 'C' 'A' 'A' 'C' 'A' 'A' 'C'
 'A' 'C' 'A' 'C' 'A' 'A' 'C' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'C' 'C' 'A' 'A'
 'C' 'A']
Ground truth    :  ['C' 'A' 'A' 'A' 'A' 'A' 'D' 'C' 'A' 'C' 'A' 'A' 'A' 'C' 'A' 'A' 'A' 'A'
 'A' 'A' 'A' 'C' 'C' 'A' 'A' 'C' 'C' 'C' 'A' 'C' 'A' 'C' 'A' 'C' 'D' 'C'
 'A' 'A' 'C' 'C' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'C' 'A' 'A' 'C' 'A' 'A'
 'A' 'A' 'C' 'A' 'A' 'C' 'A' 'C' 'C' 'A' 'A' 'C' 'A' 'A' 'C' 'C' 'A' 'C'
 'A' 'A' 'A' 'C' 'C' 'A' 'A' 'C' 'A' 'A' 'D' 'A' 'C' 'A' 'A' 'A' 'C' 'A'
 'A' 'A' 'C' 'D' 'A' 'A' 'A' 'C' 'A' 'B' 'C' 'C' 'A' 'A' 'A' 'C' 'A' 'A'
 'C' 'A' 'A' 'C' 'C' 'A' 'A' 'A' 'C' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'A'
 'A' 'A' 'B' 'A' 'A' 'C' 'A' 'A' 'A' 'C' 'C' 'C' 'A' 'C' 'A' 'A' 'C' 'A'
 'A' 'A' 'A' 'A' 'A' 'C' 'A' 'A' 'A' 'D' 'B' 'A' 'C' 'C' 'C' 'C' 'D' 'A'
 'A' 'A' 'A' 'C' 'A' 'A' 'A' 'C' 'C' 'D' 'B' 'C' 'A' 'A' 'C' 'A' 'A' 'C'
 'A' 'C' 'A' 'C' 'A' 'A' 'C' 'A' 'A' 'A' 'A' 'A' 'A' 'A' 'C' 'C' 'A' 'A'
 'C' 'A']

In [ ]:
count = 0
for m,n in zip(y_pred[0:200],y_test[0:200]):
  if m == n:
    count=count+1
print(f'tỉ lệ Predicted đúng là {count}/{len(y_pred[0:200])}')

tỉ lệ Predicted đúng là 199/200

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test[0:200],y_pred[0:200]))

              precision    recall  f1-score   support

           A       1.00      0.99      1.00       127
           B       1.00      1.00      1.00         4
           C       1.00      1.00      1.00        62
           D       0.88      1.00      0.93         7

    accuracy                           0.99       200
   macro avg       0.97      1.00      0.98       200
weighted avg       1.00      0.99      1.00       200