In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

Step 1 : Import Dataset

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/CodeXplore/data/chipotle.tsv", sep = "\t")

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Step 2: Dataset Overview

In [ ]:

df.shape

(4622, 5)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
#print all columns ' name
list(df.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [ ]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [ ]:
df.describe(include = "all")

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

# loc vs iloc

In [ ]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
# chọn tất cả các hàng có nhiều điều kiện cột
df.loc[(df.quantity >= 2) & (df.item_name == "Nantucket Nectar"), ['order_id', 'quantity', 'item_name']]

      order_id  quantity         item_name
601        247         2  Nantucket Nectar
2379       947         2  Nantucket Nectar

In [ ]:

df.iloc[[9]]

   order_id  ...  item_price
9         5  ...      $9.25

[1 rows x 5 columns]

In [ ]:
df.iloc[3:11]

    order_id  ...  item_price
3          1  ...      $2.39
4          2  ...     $16.98
5          3  ...     $10.98
6          3  ...      $1.69
7          4  ...     $11.75
8          4  ...      $9.25
9          5  ...      $9.25
10         5  ...      $4.45

[8 rows x 5 columns]

In [ ]:
X = df.iloc[3:5, :-1]
y = df.iloc[3:5, -1]
print(y)

3     $2.39
4    $16.98
Name: item_price, dtype: object

# Data Manipulation

In [ ]:
df.item_price.dtype

dtype('O')

# Apply()

In [ ]:
df.item_price = df.item_price.apply(lambda x : float(x.replace('$', '')))

In [ ]:
df.head()

   order_id  ...  item_price
0         1  ...        2.39
1         1  ...        3.39
2         1  ...        3.39
3         1  ...        2.39
4         2  ...       16.98

[5 rows x 5 columns]

In [ ]:
df["total_price"] = df["quantity"]*df["item_price"]

In [ ]:
df.head()

   order_id  quantity  ... item_price total_price
0         1         1  ...       2.39        2.39
1         1         1  ...       3.39        3.39
2         1         1  ...       3.39        3.39
3         1         1  ...       2.39        2.39
4         2         2  ...      16.98       33.96

[5 rows x 6 columns]

#Doanh thu trong khoảng thời gian trong tập dữ liệu là bao nhiêu?

In [ ]:
revenue = df["total_price"].sum()
print(revenue)

39237.02

# Which was the most-ordered item?
# Group By

In [ ]:
c = df.groupby("item_name")["quantity"].sum()
c.sort_values(ascending = False).head(5)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

In [ ]:
#Unique Value
df.item_name.value_counts().count()

50

In [ ]:
df.item_name.nunique()

50