In [ ]:
from xlrd import open_workbook

In [ ]:
data_test = open_workbook('/content/Test.xlsx')

In [ ]:
data_test.sheets()

In [ ]:
values = []
for s in data_test.sheets():
    # print 'Sheet:',s.name
    for row in range(1, s.nrows):
        col_names = s.row(0)
        col_value = []
        for name, col in zip(col_names, range(s.ncols)):
            print(name)
            value = (s.cell(row, col).value)
            try:
                value = str(int(value))
                print(value)

            except:
                pass
            col_value.append(value)
        values.append(col_value)

text:'No'
1
text:'Username'
text:'Password'
text:'Desired Result'
text:'Message '
text:'No'
2
text:'Username'
text:'Password'
text:'Desired Result'
text:'Message '
text:'No'
3
text:'Username'
text:'Password'
text:'Desired Result'
text:'Message '
text:'No'
4
text:'Username'
text:'Password'
text:'Desired Result'
text:'Message '

In [ ]:
values

[['1',
  'tomsmith',
  'SuperSecretPassword!',
  'Pass',
  'You logged into a secure area!'],
 ['2', '', 'SuperSecretPassword!', 'Pass', 'Your username is invalid!'],
 ['3', 'tomsmith', '', 'Pass', 'Your password is invalid!'],
 ['4',
  'tomsmithda',
  'SuperSecretPassword',
  'Fail',
  'Your username and password is invalid!']]

# **Replace()**
string.replace (cũ, mới, số lượng)

In [ ]:
string = "geeks for geeks geeks geeks geeks"

# Prints the string by replacing
# e by a
print(string.replace("e", "a"))

# Prints the string by replacing only
# 3 occurrence of ek by a
print(string.replace("ek", "a", 3))

# **"is" and "=="**

In [ ]:
b="Hello "
b+="World"
a="Hello World"

print(a==b)
print(a is b)

True
False

In [ ]:
a=1000
b=1000

print(a==b)
print(a is b)

True
False

In [ ]:
a=10
b=10

print(a==b)
print(a is b)

True
True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
n=int(input("Moi nhap so :"))
s=0
if n%2==0:
    for x in range(2,n+1,2):
        s=s+x
elif n%2!=0:
    for x in range(1,n+1,2):
        s=s+x

print("Tong s= ",s)

Moi nhap so :6
Tong s=  12

# **ham clock**

In [ ]:
from time import clock
start=clock()
n=int(input("Moi nhap so :"))
s=0
if n%2==0:
    for x in range(2,n+1,2):
        s=s+x
elif n%2!=0:
    for x in range(1,n+1,2):
        s=s+x

print("Tong s= ",s)
end=clock()
duration=end-start
print("duration can tinh la :", duration)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

Moi nhap so :6
Tong s=  12
duration can tinh la : 0.05615000000000059

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  del sys.path[0]

In [ ]:
from time import clock

start=clock()
print("Moi ban nhap gia ")
x=input()
print("ban vua nhap x :", x)
end=clock()
duration=end-start
print("duration la : ", duration)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  This is separate from the ipykernel package so we can avoid doing imports until

Moi ban nhap gia

# **Ham Eval**

In [ ]:
from math import *
s="5*6-(7/2)+8+sin(0.5)+pow(2,3)"
x=eval(s)
print(x)

x1,x2=eval(input("nhap x1,x2 :"))
print("x1=",x1,"x2=",x2 )

# **Kiem tra nam nhuan**

In [ ]:
print("chuong trinh kiem tra nam nhuan")
year=int (input("Moi thim nhap vao mot nam :"))
if (year %4==0 and year %100 !=0) or year %400==0 :
    print("Nam",year,"Nam do la nam nhuan")
else:
    print("Nam",year,"Nam do khong phai nam nhuan")

# **Tinh so ngay trong mot thang**

In [ ]:
print("Chung trinh tinh so ngay trong mot thang")
month=int(input("Nhap thang can tinh :"))
if month in (1,3,5,7,8,10,12) :
    print("Thang",month,"Co 31 ngay ")
elif month in (4,6,9,11):
    print("Thang",month," Co 3o ngay")
elif month==2 :
    year=int (input("moi ban nhap nam :"))
    if (year %4==0 and year %100 !=0) or year %400==0 :
        print("Thang ", month,"Co 29 ngay")
    else:
        print("Thang",month,"Co 28 ngay")
else:
    print("Thang",month,"Khong hop le")

# *Phuong trinh bac 2*

In [ ]:
#ax^2+bx+c=0
from math import sqrt

print("Chuong trinh giai phuong trinh bac 2")
a=float(input("Nhap a :"))
b=float(input("nhap b :"))
c=float(input("Nhap c :"))
if a==0:
    #bx+c=0
    if b==0 and c==0:
        print("phuong trinh vo so nghiem")
    elif b==0 and c!=0 :
        print("Phuong trinh vo nghiem")
    elif b!=0 and c!=0 :
        print("P/t co nghiem x= ",-c/b)
else:
    delta=b**2-4*a*c
    if delta <0:
        print("p/t vo nghiem")
    elif delta==0 :
        x=-b/(2*a)
        print("p/t co nghiem kep x=",x)
    elif delta >0 :
        x1=(-b-sqrt(delta))/(2*a)
        x2=(-b+sqrt(delta))/(2*a)
        print("p/t co 2 nghiem :","x1=",x1 ,"vs", "x2=",x2)

# **Kiem tra so nguyen to**

In [ ]:
while True :
    n=int(input("Nhap mot so nguyen duong :"))
    dem=0
    for i in range(1,n+1):
        if n%i==0 :
            dem=dem+1
    if dem==2 :
        print(n,"La so nguyen to!!")
    else:
        print(n, "k La so nguyen to!!")
    hoi=input("tiep tuc thuc hien k ? (c/k):")
    if hoi == "k" :
        break
      if

Nhap mot so nguyen duong :6
6 k La so nguyen to!!
tiep tuc thuc hien k ? (c/k):c
Nhap mot so nguyen duong :7
7 La so nguyen to!!
tiep tuc thuc hien k ? (c/k):k

# **Xuat bang cuu chuong tu 2-9**

In [ ]:
for i in range(1,11):
    for j in range(2,10):
        line="{0}*{1:>2}={2:>2}".format(j,i,i*j)
        print(line,end='\t')
    print()

# **Game doan so**

In [ ]:
from random import randrange
while True:
    somay=randrange(1,101)
    solandoan=0
    win=False
    while solandoan<7:
        solandoan+=1
        songuoi=int(input("May doan [1->100] , moi ban doan :"))
        print("ban doan lan thu ",solandoan)
        if(somay==songuoi):
            print("chuc mung ban da Win ,so may =",somay)
            win=True
            break
        if somay>songuoi:
            print("ban doan sai , so may > so ban")
        elif somay<songuoi:
            print("ban doan sai , so may < so ban")
    if win==False :
        print("GAME OVER !! ,so may =",somay)
    hoi=input("Tiep k? ")
    if hoi=="k":
        break

# **Ham Upper vs lower**

In [ ]:
print("Moi ban nhap ten : ")
name=input()
print("Ten ban nhap : ",name)
print("Ten viet hoa : ",name.upper())
print("Ten viet thuong : ",name.lower())

# **Ham can le Rjust,Ljust,Center**

In [ ]:
s="hung bui xuan"
print(s)
print(len(s))
print(s.rjust(20,"+"))
print(s.ljust(20,">"))
print(s.center(20,"-"))

hung bui xuan
13
+++++++hung bui xuan
hung bui xuan>>>>>>>
---hung bui xuan----

# **Ham xoa khoang trang du thua Trip**

In [ ]:
s1="          linh peo    "
print(s1,len(s1))
s2=s1.strip()
print(s2,len(s2))

s3="====hung+===-=="
s3=s3.strip("=\+\-")
print(s3)

          linh peo     22
linh peo 8
hung

In [ ]:
s = 'DJI_DVC_105A18.json'
s = s.strip('DJI_DVC_')
s

'105A18.json'

In [ ]:
arr=s.split("A")
int(arr[0])/2

52.5

# **startWith vs endWith**

In [ ]:
s="C:/chungtacuahientai.mp3"
if s.endswith(".mp3"):
    print("file dinh danh mp3")
else:
    print("file k phai dinh danh mp3")

file dinh danh mp3

In [ ]:
s2="+++hung---"
print(s2.startswith("*"))
print(s2.startswith("+"))

False
True

In [ ]:
def LocSoDienThoai(dauso):
    dsArr=["0981234567","0981234765","0901234567","0961234567","0921234567"]
    for phone in dsArr:
        if phone.startswith(dauso):
            print(phone)
        else:
            return "<empty>"
print("Moi ban nhap dau so : ")
dauso=input()
phone=LocSoDienThoai(dauso)
print(phone)

In [ ]:
def LocToanBoDauPhone(dauso):
    dsArr = ["0981234567", "0981234765", "0901234567", "0961234567", "0921234567"]
    dsLoc=[]
    for phone in dsArr:
        if phone.startswith(dauso):
            dsLoc.append(phone)
    return dsLoc
dauso=input("Nhap dau so : ")
dsLocSo=LocToanBoDauPhone(dauso)
print(dsLocSo)

# **Ham find vs count**

In [ ]:
s="hung-bui-xuan"
p1=s.find("-")
p2=s.rfind("-")
print("p1 = ",p1)
print("p2 = ",p2)
c=s.count("u")
print("c= ",c)

p1 =  4
p2 =  8
c=  3

In [ ]:
s="d:/tailieu/python/lamchupython.pdf"
p=s.rfind('/')
print(s[p+1:])
p2=s.rfind('.')
print(s[p+1:p2])

# **Ham Tach chuoi**

In [ ]:
s="sv007;bui xuan hung ;1998"
arr=s.split(";")
for x in arr:
    print(x)

sv007
bui xuan hung
1998

In [ ]:
# # tach chuoi theo dong
s="""Obama ass
hahaha
ali333
"""
arr=s.splitlines()
for line in arr:
    print(line,"a->",line.count("a"))

Obama ass a-> 3
hahaha a-> 3
ali333 a-> 1

# **Ham Join Loi chuoi**

In [ ]:
s="sv007;bui xuan hung;1998"
arr=s.split(";")
for x in arr:
    print(x)
s2=","
s2=s2.join(arr)
print(s2)

# **Kiem tra chuoi doi xung**

In [ ]:
def checkDoiXung(s):
    flag=True
    for i in range(len(s)):
        if s[i] != s[len(s)-i-1]:
            flag=False
            break
    return flag
def main():
    print("Nhap 1 chuoi :")
    s=input()
    if(checkDoiXung(s)):
        print("chuoi doi xung ")
    else:
        print("Chuoi k doi xung ")

while True:
    main()
    x = input("Ban co muon thoat Y/N ?")
    if x == "y":
        break

# **Toi uu Chuoi**

In [ ]:
def ToiUuChuoi(s):
    s2=s
    s2=s2.strip()
    arr=s2.split(' ')
    s2=""
    for x in arr:
        word=x
        if len(word.strip())!=0:
            s2=s2+word+" "
    return s2.strip()

s="         bui   xuan        hung"
print(s,"=>",len(s))
t=ToiUuChuoi(s)
print(t,"=>",len(t))

# **Xu ly chuoi**

In [ ]:
def CheckPrime(x):
    dem=0
    for i in range(1,x+1):
        if x % i ==0:
            dem+=1
    if dem==2:
        return True
    else:
        return False
s="5;7;8;-2;8;11;13;9;10"
arr=s.split(';')
sochan=0
soam=0
sont=0
for x in arr:
    print(x)
    number=int(x)
    if number %2 ==0 :
        sochan+=1
    if number<0 :
        soam+=1
    if CheckPrime(number):
        sont+=1
print("So chan = ",sochan)
print("so am = ", soam)
print("so nguyen to  = ", sont)

# **Duyet List**

In [ ]:
from builtins import print
from random import randrange
print("Moi ban nhap so phan tu : ")
n=int(input())
lst=[0]*n
print(lst)
for i in range(n):
    lst[i]=randrange(-100,100)
print(lst)
print("Duyet theo collection : ")
for x in lst :
    print(x,end='\t')
print("\n Duyet theo Index : ")
for i in range(len(lst)):
    print("vi tri ",i,"co gia tri la : ",lst[i])
print("\n Duyet nguoc list :")
for i in range(len(lst)-1,-1,-1):
    print("vi tri ", i, "co gia tri la : ", lst[i])

In [ ]:
listTen='Dv_dieunho_01.jpg'
print(type(listTen))
print(listTen)

<class 'str'>
Dv_dieunho_01.jpg

In [ ]:
arr=listTen.split("_")
print(type(arr))
print(arr[1])
for x in arr:
    print(x)

<class 'list'>
dieunho
Dv
dieunho
01.jpg

# **Ham insert , append , remove ,del trong list**

In [ ]:
lst=[1,2,3]
print(lst)
lst.insert(0,999)
print(lst)
lst.insert(4,888)
print(lst)
lst.insert(2,777)
print(lst)

[1, 2, 3]
[999, 1, 2, 3]
[999, 1, 2, 3, 888]
[999, 1, 777, 2, 3, 888]

In [ ]:
lst.append(666)
print(lst)
lst.append([333,555])
lst.append([5.1,3.5,1.4,0.2])
print(lst)

[999, 1, 777, 2, 3, 888, 666]
[999, 1, 777, 2, 3, 888, 666, [333, 555], [5.1, 3.5, 1.4, 0.2]]

In [ ]:
lst.remove(2)
print(lst)
lst.remove([333,555])
print(lst)

In [ ]:
del lst[0]
print(lst)
del lst[1:4]
print(lst)

# **Ham Reverse dao chuoi**

In [ ]:
lst=[12,0,25,26]
print(lst)
lst.reverse()  # thay doi ban chat ben trong cua list
print(lst)

[12, 0, 25, 26]
[26, 25, 0, 12]

In [ ]:
for i in range(len(lst)-1,-1,-1): # thay doi trinh tu hien thi ra man hinh
    print(lst[i],end='\t')

print("\n")

12	0	25	26

In [ ]:
lst1=[120,0,245,-26]
print(lst1)
lst2=reversed(lst1)
for item in lst2:
    print(item)

# **Ham Sort vs Sorted**

In [ ]:
from random import randrange
lst=[0]*10
print (lst)
for i in range(len(lst)):
    lst[i]=randrange(100)
print(lst)
lst.sort()
print(lst)

In [ ]:
print("*"*20)
lst=[3,6,4,0,14]
print(lst)
lst2=sorted(lst)
print(lst2)

In [ ]:
print("*"*20)# sap xep giam dan
lst=[3,6,4,0,14]
print(lst)
lst.sort(reverse=True)
print(lst)

# **LIST Da Chieu**

In [ ]:
from random import randrange

lst=[
    [4,2,10],
    [7,10,5],
    [-7,9,2]
]
print(lst)
for row in lst:
    for column in row:
        print(column,end='\t')
    print()

In [ ]:
for i in range(len(lst)):
    for j in range(len(lst[i])):
        print(lst[i][j],end='\t')
    print()

In [ ]:
arr2D=[]
rowsize=int(input("Nhap so dong : "))
columnsize=int(input("Nhap so cot : "))
for i in range(rowsize):
    onerow=[]
    for j in range(columnsize):
        onerow.append(randrange(-100,100))
    arr2D.append(onerow)
print("ma tran may nhap la : ")
for i in range(len(arr2D)):
    for j in range(len(arr2D[i])):
        print(arr2D[i][j],end='\t')
    print()

# **Cach ghi Tap Tin**

In [ ]:
def LuuFile(path):
    file=open(path,'w',encoding='utf-8')
    file.writelines("sv01;bui xuan hung ;1998\n")
    file.writelines("sv02;nguyen hau linh ;1998\n")
    file.writelines("sv03;truong hai linh ;1998\n")
    file.close()
LuuFile("E:\csdlSinhVien.txt")

# **Cach Doc Tap Tin**

In [ ]:
def DocFile(path):
    file=open(path,'r',encoding='utf-8')
    for line in file:
        data=line.strip()
        print(data)
    file.close()
DocFile("E:\csdlSinhVien.txt")

# **Class trong python**

In [ ]:
class sinhVien:
    def __init__(sv,ma,ten):
        sv.masv=ma
        sv.name=ten
    def inthongtin(sv):
        print("Ma sinh vien : "+sv.masv )
        print("Ten sinh vien : "+sv.name)

sinhviena=sinhVien('1881','hung dep trai')
sinhviena.inthongtin()

# **Ham Lambda (an danh )**

In [ ]:
hung=lambda so : so +69
print(hung(1))
linh=lambda x,y,z : x+y+z
print(linh(1,1,1))
print(200*"-")
tool=[(6,9),(6,20),(9,6),(-1,3),(2,10)]
print(sorted(tool))
print(sorted(tool,key=lambda point:point[1]))

70
3
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
[(-1, 3), (2, 10), (6, 9), (6, 20), (9, 6)]
[(-1, 3), (9, 6), (6, 9), (2, 10), (6, 20)]

In [ ]:
number_list=[-5,3,-2,4,1,-1,-3,-4,5]
print(sorted(number_list))
print(sorted(number_list,key=lambda x: abs(x)))
print(200*"-")
list_keyword=["hung","bui","xuan"]
print(list(map(lambda  x:x.title(),list_keyword)))

[-5, -4, -3, -2, -1, 1, 3, 4, 5]
[1, -1, -2, 3, -3, 4, -4, -5, 5]
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
['Hung', 'Bui', 'Xuan']

# **LIst Comprehensions**

In [ ]:
word="hung dep trai"
print([char for char in word])

['h', 'u', 'n', 'g', ' ', 'd', 'e', 'p', ' ', 't', 'r', 'a', 'i']

In [ ]:
even_number=[i for i in range(0,10) if i%2==0]
print(even_number)
k=0
even_number=[k+1 for i in range(1,11) if i%5==0]
print(even_number)

[0, 2, 4, 6, 8]
[1, 1]

In [ ]:
transactions=[100,200,300,150,80]
TAX_RATE=0.08
SERVICE_CHARGE=0.07

def get_price_tax_service(bill):
    return  bill*(1+TAX_RATE+SERVICE_CHARGE)

final_prices=[get_price_tax_service(bill) for bill in transactions]
print(final_prices)

# **zip(): cho phep lap 2 list cung mot luc**

In [ ]:
wizards=['Harry Potter','Ron','Hermione']
pets=['Hedwig','Scabber','Crookshank']

for wiz,pet in zip(wizards,pets):
    print(f'{wiz} has {pet}')

for index,(wiz,pet) in enumerate(zip(wizards,pets)):
    print(f'{index}. {wiz} has {pet}')
#
# #ban chat cua Zip()
# # [['Harry Potter','Hedwig']
# # ['Ron','Scabber']
# # ['Hermione','Crookshank']]

# **sorted()**

In [ ]:
sorted_by_second=sorted(['hi','hello','you','hung'] ,key=lambda el:el[1])
print(sorted_by_second)# sap xep theo ki tu thu 2

sorted_by_key=sorted([
    {'nmae':'Andy','age':18},
    {'nmae':'hung','age':55},
    {'nmae':'linh','age':30}
],key=lambda el:el['age'])
print(sorted_by_key)

# **Array List**

In [ ]:
matrix=[[1,2,3],
        [4,5,6],
        [7,8,9,]]
print(matrix[1][2])# row thu 1 va colum thu 2
for row in range(len(matrix)):
    for col in range(len(matrix)):
        print(matrix[row][col])
Transform Matrix in List :
list_converted=[matrix[row][col] for row in range(len(matrix))
                                for col in range(len(matrix))]
print(list_converted)# converted ve mang 1 chieu
Combine columns with zip and * :
print([x for x in zip(*matrix)])

# **Kiểu Dữ Liệu Dictionary trong Python**

In [ ]:
import math

my_dict={"name":"hung dep trai","content":"300 cach tan hung","city":"thai binh"}
print(my_dict)

my_dict_2=dict(name="hung dep trai",content="300 cach tan hung",city="thai binh")
print(my_dict_2)

In [ ]:
#Access items
content_in_dict=my_dict["content"]
print(content_in_dict)

In [ ]:
# add a new key
my_dict["email"]="hungthor1998@gmail.com"
print(my_dict)

In [ ]:
#update key
my_dict["email"]="hungthor@gmail.com"
print(my_dict)

In [ ]:
#xoa key
del my_dict["city"]
print(my_dict)

In [ ]:
print("Popped value:"+ my_dict.pop("city")) # tra ve gia tri bi xoa
print(my_dict)

In [ ]:
#loop over keys and values
for value in my_dict.values():
    print(value)

In [ ]:
for key,values in my_dict.items():
    print(key,value)

# Arguments* vs Argument**

* Sử dụng  * args, **kwargsnhư một quy ước chuẩn để bắt các đối số vị trí và từ khóa
* Bạn không thể đặ t **kwargstrước *args, nếu không bạn sẽ gặp lỗi
*Cẩn thận với các xung đột giữa các tham số từ khóa và **kwargs nơi giá trị được truyền dưới dạng  **kwarg nhưng vô tình là tên của một tham số từ khóa
* Bạn cũng có thể sử dụng toán tử biểu tượng trong các cuộc gọi hàm

1.) * Args (Đối số Không phải Từ khoá)

2.) ** kwargs (Đối số từ khóa)

In [ ]:
def Arguments(a,b,*args,**kwargs):
    print(a,b)
    for arg in args:
        print(arg)
    for key,value in kwargs.items():
        print(key,value)
Arguments(1,2,"linh",23,6,size="Up Size",age="23")

In [ ]:
a = [1,2,3]
b = [*a,4,5,6]

print(b) # [1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
def printScores(student, *scores):
   print(f"Student Name: {student}")
   for score in scores:
      print(score)

printScores("Jonathan",100, 95, 88, 92, 99)

Student Name: Jonathan
100
95
88
92
99

In [ ]:
def printPetNames(owner, **pets):
   print(f"Owner Name: {owner}")
   for pet,name in pets.items():
      print(f"{pet}: {name}")

printPetNames("Jonathan", dog="Brock", fish=["Larry", "Curly", "Moe"], turtle="Shelldon")

Owner Name: Jonathan
dog: Brock
fish: ['Larry', 'Curly', 'Moe']
turtle: Shelldon

 **1.)** * args

In [ ]:
def myFun(*argv):
    for arg in argv:
        print (arg)

myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [ ]:
def myFun(arg1, *argv):
    print ("First argument :", arg1)
    for arg in argv:
        print("Next argument through *argv :", arg)

myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [ ]:
A = [1,2,3,4,5]
B = [6,7,8,9,10]
C = *A, *B
print(C)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**2.)** ** kwargs

In [ ]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))

# Driver code
myFun(first ='Geeks', mid ='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [ ]:
def myFun(arg1, **kwargs):
    for key, value in kwargs.items():
        print ("%s == %s" %(key, value))

# Driver code
myFun("Hi", first ='Geeks', mid ='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [ ]:
def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)

# Now we can use *args or **kwargs to
# pass arguments to this function :
args = ("Geeks", "for", "Geeks")
myFun(*args)

print(200*'-')

kwargs = {"arg1" : "Geeks", "arg2" : "for", "arg3" : "Geeks"}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
arg1: Geeks
arg2: for
arg3: Geeks

In [ ]:

def myFun(*args,**kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)


# Now we can use both *args ,**kwargs
# to pass arguments to this function :
myFun('geeks','for','geeks',first="Geeks",mid="for",last="Geeks")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}

***Ham lamda tiep***

In [ ]:
coordinate2D=[(6,9),(9,6),(-1,3),(2,10)]
print(sorted(coordinate2D))
print(sorted(coordinate2D,key=lambda point:point[1]))

In [ ]:
number_list=[5,3,-2,4,1,-1,-3,4,5]
print(sorted(number_list))
print(sorted(number_list,key=lambda x:abs(x)))

In [ ]:
list_keyword=["hung","dep","trai"]
print(list(map(lambda x:x.title(),list_keyword)))

In [ ]:
list_number=[1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda x:x%2!=0, list_number)))

[1, 3, 5, 7, 9]

In [ ]:
new_list=[x for x in list_number if x%2!=0]
print(new_list)

# **reduce---Se tra ve gia tri bieu thuc trong ngoac**

In [ ]:
from functools import reduce
sequence=[1,2,3,4,5,6,7,8]
# print(reduce(lambda a,b : a+b,sequence))
print(reduce(lambda a,b:a if a>b else b,sequence))

# **Test List vs Array**

In [ ]:
import numpy as np
a= ['5.0 ','4.0 ','3.0' ,'2.0'] # kieu List
c=np.array(a) # Kieu array 1 chieu
b= ['5.1', '3.5' ,'1.4' ,'0.2' ]
d=np.array(b)
print(a)
def calcDistancs(pointA, pointB):
    tmp = 0
    for i in range(4):
        print(float(pointA[i]))

        tmp += (float(pointA[i]) - float(pointB[i])) ** 2

    print(math.sqrt(tmp))
    return math.sqrt(tmp)
calcDistancs(a,b)

# **--class--**

In [ ]:
class Perseon:
  def __init__(self, name):
    self.name = name

  def say_hi(self):
    print('xin chao : ', self.name)

p =  Perseon('hung')
p.say_hi()

xin chao :  hung

In [ ]:
class Dog:

    # Class Variable
    animal = 'dog'

    # The init method or constructor
    def __init__(self, breed, color):

        # Instance Variable
        self.breed = breed
        self.color = color

# Objects of Dog class
Rodger = Dog("Pug", "brown")
Buzo = Dog("Bulldog", "black")

print('Rodger details:')
print('Rodger is a', Rodger.animal)
print('Breed: ', Rodger.breed)
print('Color: ', Rodger.color)

print('\nBuzo details:')
print('Buzo is a', Buzo.animal)
print('Breed: ', Buzo.breed)
print('Color: ', Buzo.color)

# Class variables can be accessed using class
# name also
print("\nAccessing class variable using class name")
print(Dog.animal)

Rodger details:
Rodger is a dog
Breed:  Pug
Color:  brown

Buzo details:
Buzo is a dog
Breed:  Bulldog
Color:  black

Accessing class variable using class name
dog

In [ ]:
class Dog:
  animal = 'dog'

  def __init__(self,breed):
    self.breed = breed

  def setColor(self, color):
    self.color = color

  def getColor(self):
    return self.color

Rodger = Dog("pug")
Rodger.setColor("green")
print(Rodger.getColor())

green

**Kế thừa**

In [ ]:
class Person(object):

    # Constructor
    def __init__(self, name):
        self.name = name

    # To get name
    def getName(self):
        return self.name

    # To check if this person is an employee
    def isEmployee(self):
        return False


# Inherited or Subclass (Note Person in bracket)
class Employee(Person):

    # Here we return true
    def isEmployee(self):
        return True

# Driver code
emp = Person("Geek1")  # An Object of Person
print(emp.getName(), emp.isEmployee())

emp = Employee("Geek2") # An Object of Employee
print(emp.getName(), emp.isEmployee())

Geek1 False
Geek2 True

In [ ]:
class Person( object ):

        # __init__ is known as the constructor
        def __init__(self, name, idnumber):
                self.name = name
                self.idnumber = idnumber
        def display(self):
                print(self.name)
                print(self.idnumber)

# child class
class Employee( Person ):
        def __init__(self, name, idnumber, salary, post):
                self.salary = salary
                self.post = post

                # invoking the __init__ of the parent class
                Person.__init__(self, name, idnumber)


# creation of an object variable or an instance
a = Employee('Rahul', 886012, 200000, "Intern")

# calling a function of the class Person using its instance
a.display()

Rahul
886012

**đa kế thừa**

In [ ]:
class Base1(object):
    def __init__(self):
        self.str1 = "Geek1"
        print("Base1")

class Base2(object):
    def __init__(self):
        self.str2 = "Geek2"
        print("Base2")

class Derived(Base1, Base2):
    def __init__(self):

        # Calling constructors of Base1
        # and Base2 classes
        Base1.__init__(self)
        Base2.__init__(self)
        print("Derived")

    def printStrs(self):
        print(self.str1, self.str2)


ob = Derived()
ob.printStrs()

Base1
Base2
Derived
Geek1 Geek2

In [ ]:
class Person(object):
      def __init__(self, name, idnumber):
            self.name = name
            self.idnumber = idnumber

# second parent class
class Employee(object):
      def __init__(self, salary, post):
            self.salary = salary
            self.post = post

# inheritance from both the parent classes
class Leader(Person, Employee):
      def __init__(self, name, idnumber, salary, post, points):
            self.points = points
            Person.__init__(self, name, idnumber)
            Employee.__init__(self, salary, post)
            print(self.salary)

ins = Leader('Rahul', 882016, 'Assistant Manager', 75000, 560)

Assistant Manager

## **Thừa kế đa cấp**

In [ ]:
class Base(object):

    # Constructor
    def __init__(self, name):
        self.name = name

    # To get name
    def getName(self):
        return self.name


# Inherited or Sub class (Note Person in bracket)
class Child(Base):

    # Constructor
    def __init__(self, name, age):
        Base.__init__(self, name)
        self.age = age

    # To get name
    def getAge(self):
        return self.age

# Inherited or Sub class (Note Person in bracket)
class GrandChild(Child):

    # Constructor
    def __init__(self, name, age, address):
        Child.__init__(self, name, age)
        self.address = address

    # To get address
    def getAddress(self):
        return self.address

# Driver code
g = GrandChild("Geek1", 23, "Noida")
print(g.getName(), g.getAge(), g.getAddress())

Geek1 23 Noida

**4. Kế thừa phân cấp** Nhiều hơn một lớp dẫn xuất được tạo từ một cơ sở duy nhất.

**5. Thừa kế lai** : Hình thức này kết hợp nhiều hơn một hình thức kế

**Các thành viên riêng của lớp cha**
Không phải lúc nào chúng ta cũng muốn các biến cá thể của lớp cha được kế thừa bởi lớp con, tức là chúng ta có thể đặt một số biến cá thể của lớp cha là riêng, sẽ không có sẵn cho lớp con .
Chúng ta có thể đặt một biến cá thể ở chế độ riêng tư bằng cách thêm dấu gạch dưới kép vào trước tên của nó

In [ ]:
class C(object):
       def __init__(self):
              self.c = 21

              # d is private instance variable
              self.__d = 42
class D(C):
       def __init__(self):
              self.e = 84
              C.__init__(self)
object1 = D()

# produces an error as d is private instance variable

In [ ]:
print(object1.c)

21

In [ ]:
print(object1.e)

84

In [ ]:
print(object1.d)

AttributeError: ignored

**Issubclass ()**: Nó kiểm tra một lớp cụ thể có phải là lớp con của một lớp khác hay không. Cú pháp của nó là:

In [ ]:
class A():
      def __init__(self, a):
            self.a = a
class B(A):
      def __init__(self, a, b):
            self.b = b
            A.__init__(self, a)

print(issubclass(B, A))

True

**Ghi đè phương thức:**
Ghi đè một phương thức có nghĩa là xác định lại một phương thức trong lớp con khi nó đã được định nghĩa trong một số lớp khác.
Một phương thức trong lớp con sẽ chỉ được gọi là ghi đè khi tồn tại một phương thức khác có cùng tên và cùng một bộ tham số trong lớp cha.
Ngoài ra, chúng ta không thể ghi đè một phương thức private của một lớp cha, là một phương thức có dấu gạch dưới kép trước tên của nó.
Ví dụ:

In [ ]:
class A(object):
        def __init__(self):
                constant1 = 1
        def method1(self):
                print('method1 of class A')

class B(A):
        def __init__(self):
                constant2 = 2
                self.calling1()
                A. __init__(self)
        def method1(self):
                print('method1 of class B')
        def calling1(self):
                self.method1()
                A.method1(self)
b = B()

method1 of class B
method1 of class A

**Mã gọi phương thức 1 của lớp B chứ không phải A vì Python tìm kiếm hàm theo thứ tự từ dưới lên trên.**

In [ ]:
class A(object):
        def function1(self):
                print('function of class A')
class B(A):
        def function1(self):
                print('function of class B')
                super(B, self).function1()
class C(B):
        def function1(self):
                print('function of class C')
                super(C, self).function1()
j = C()
j.function1()

function of class C
function of class B
function of class A